<div class="thesis-bg" style="background-image: url(<%= image_path @project.id %>)">
  <div class="blur"></div>
  <div class="center-form">
    <%= render 'form', score: @score, project: @project %> 
    <%= render 'standby' %>
  </div>
</div>

<%#= render 'status_bar' %>